.container{
    margin: 0 auto;
}
.cart-button{
    border-radius: 3px;
    background-color: rgb(252, 215, 215);
}
.cart-button:hover{
    background-color: rgb(247, 112, 112);
}
.goods{
    border: 1px solid black;
    text-align: center;

}
.item-button{
    width: 100px;
    height: 30px;
}
header{
    float: right;
    flex-direction: column;
}
main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}